.characters{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  column-gap: 4rem;
  row-gap: 2rem;
}

.card{
  display: flex;
  width: 45%;
  background-color: rgb(60, 62, 70);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.card img{
  width: 15rem;
  height: 100%;
}

.text-container{
  color: #fff;
  padding: 1rem;
  font-size: 1.25rem;
}

.text-container h3{
  font-size: 2rem;
}

.status{
  margin-bottom: 1rem;
}

.title{
  color: #8d8d8d;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

button{
  padding: 1rem 4rem;
  font-size: 2rem;
  margin: 2rem 0 ;
  margin-right: 1rem;
}

.btns{
  display: flex;
  justify-content: space-between;
  width: 100%;
}